<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="erica.db.mvc.MemberVO" alias="member"/>
		<typeAlias type="erica.db.mvc.PayVO" alias="pay"/>
		<typeAlias type="erica.db.mvc.RequestVO" alias="request"/>
		<typeAlias type="erica.db.mvc.RoomVO" alias="room"/>
	</typeAliases>
</configuration>
